<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
        point="net.bioclipse.usermanager.accountType">
        <AccountType
            name="net.bioclipse.structuredb.AccountType">
            <property
                name="net.bioclipse.structuredb.url"
                required="true">
            </property>
            <property
                name="net.bioclipse.structuredb.type"
                required="true">
            </property>
            <property
                name="net.bioclipse.structuredb.name"
                required="true">
            </property>
        </AccountType>
    </extension>
    
    <extension
      point="net.bioclipse.services">
        <databaseType
            id="net.bioclipse.structuredb"
            icon="icons/db_16.gif"
            class="net.bioclipse.structuredb.StructuredbFactory"
            name="StructureDB"
            category="net.bioclipse.services.databases.local">
        </databaseType>
    </extension>
    
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="false"
            id="net.bioclipse.structuredb.createNewAction"
            objectClass="net.bioclipse.structuredb.Structuredb">
            <action
                class="net.bioclipse.structuredb.actions.CreateStructuredbAction"
                enablesFor="1"
                icon="icons/db_16.gif"
                id="net.bioclipse.structuredb.actions.CreateStructuredbAction"
                label="Create new local Structure Database..."
                menubarPath="additions"
                tooltip="Open a dialog for creating a new Structure Database"/>
        </objectContribution>
        <objectContribution
            adaptable="false"
            id="net.bioclipse.structuredb.removeDatabaseAction"
            objectClass="net.bioclipse.structuredb.DataBase">
            <action
                class="net.bioclipse.structuredb.actions.RemoveDatabaseAction"
                enablesFor="1+"
                icon="icons/db_16.gif"
                id="net.bioclipse.structuredb.actions.RemoveDatabaseAction"
                label="Delete"
                menubarPath="additions"
                tooltip="Deletes the Database"/>
        </objectContribution>
    </extension>
    
    <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.structuredb.StructuredbManager"
            service="net.bioclipse.structuredb.business.StructuredbManagerFactory">
      </scriptContribution>
   </extension>
</plugin>
