<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true">

	<bean 
		id="dataSource"
	   	class="org.apache.commons.dbcp.BasicDataSource"
	   	destroy-method="close">
	   	
	   	<property name="driverClassName">
	   		<value>org.hsqldb.jdbcDriver</value>
	   	</property>
	   	
	  	<property name="url">
	   		<value>jdbc:hsqldb:hsql://localhost/testServer</value>
	   	</property>
	   	
	</bean>
	
	<bean 
		id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		
	 	<property name="dataSource">
	 		<ref local="dataSource" />
	 	</property>
	 	<property name="nestedTransactionAllowed">
			<value>true</value>
		</property>
  	</bean>
  	
  	<bean id="sqlMapPathBeanPostProcessor"
  	      class="net.bioclipse.structuredb.internalbusiness.SQLMapPathBeanPostProcessor"
  	      lazy-init="false">
  	</bean>
  	
  	<bean id="sqlMapClient" 
	      class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="sqlMapConfig.xml" />
		<property name="dataSource"     ref="dataSource" />
	</bean>
	
	<bean id="fetchIntroductionAdvisor" 
	      class="net.bioclipse.structuredb.persistency.dao.FetchIntroductionAdvisor" />
	 
	<bean id="daoTarget"
          class="net.bioclipse.structuredb.persistency.dao.GenericDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="abstractDAO"
        class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
        <property name="interceptorNames">
            <list>
                <value>fetchIntroductionAdvisor</value>
            </list>
        </property>
	</bean>
	
<!-- THE DAOS -->

	<bean id="dBMoleculeDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.DBMoleculeDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="dBMoleculeDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IDBMoleculeDao</value>
		</property>
		<property name="target">
			<bean parent="dBMoleculeDaoTarget">
        	</bean>
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
				<value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="userDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.UserDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="userDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IUserDao</value>
		</property>
		<property name="target">
			<bean parent="userDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="annotationDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.AnnotationDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="annotationDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IAnnotationDao</value>
		</property>
		<property name="target">
			<bean parent="annotationDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="choiceAnnotationDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.ChoiceAnnotationDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="choiceAnnotationDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IChoiceAnnotationDao</value>
		</property>
		<property name="target">
			<bean parent="choiceAnnotationDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	
	</bean>
	
	<bean id="choicePropertyDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.ChoicePropertyDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="choicePropertyDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IChoicePropertyDao</value>
		</property>
		<property name="target">
			<bean parent="choicePropertyDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="realNumberAnnotationDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.RealNumberAnnotationDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="realNumberAnnotationDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IRealNumberAnnotationDao</value>
		</property>
		<property name="target">
			<bean parent="realNumberAnnotationDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="realNumberPropertyDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.RealNumberPropertyDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="realNumberPropertyDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IRealNumberPropertyDao</value>
		</property>
		<property name="target">
			<bean parent="realNumberPropertyDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="textAnnotationDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.TextAnnotationDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="textAnnotationDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.ITextAnnotationDao</value>
		</property>
		<property name="target">
			<bean parent="textAnnotationDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>
	
	<bean id="textPropertyDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.TextPropertyDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="textPropertyDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.ITextPropertyDao</value>
		</property>
		<property name="target">
			<bean parent="textPropertyDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>	

	<bean id="propertyChoiceDaoTarget"
          class="net.bioclipse.structuredb.persistency.dao.PropertyChoiceDao" abstract="true">
        <property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref local="sqlMapClient" />
		</property>
	</bean>
	
	<bean id="propertyChoiceDao" parent="abstractDAO" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces">
			<value>net.bioclipse.structuredb.persistency.dao.IPropertyChoiceDao</value>
		</property>
		<property name="target">
			<bean parent="propertyChoiceDaoTarget" />
		</property>
		<property name="interceptorNames">
            <list>
                <value>auditCreationAdvisor</value>
                <value>auditUpdateAdvisor</value>
            </list>
        </property>
	</bean>	
	
	<bean id="structuredbInstanceManagerTarget"
	      class="net.bioclipse.structuredb.internalbusiness.StructuredbInstanceManager">
	   <property name="userDao">
	       <ref local="userDao"/>
	   </property>
	   <property name="DBMoleculeDao">
           <ref local="dBMoleculeDao"/>
       </property>
       <property name="annotationDao">
           <ref local="annotationDao"/>
       </property>
	</bean>
	
	<bean id="structuredbInstanceManager"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref local="transactionManager" />
        </property>
        <property name="target">
            <ref local="structuredbInstanceManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">
                    PROPAGATION_REQUIRED, ISOLATION_SERIALIZABLE
                </prop>
            </props>
        </property>
    </bean>
	
    <bean id="auditCreationAdvisor"
          class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice"  ref="auditCreationAdvice" />
        <property name="pattern" value=".*insert.*" />
    </bean>
	
	<bean id="auditCreationAdvice"
        class="net.bioclipse.structuredb.internalbusiness.AuditCreationAdvice">
        <property name="loggedInUserKeeper">
            <ref local="loggedInUserKeeper"/>
        </property>
    </bean>
    
    <bean id="auditUpdateAdvisor"
          class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice"  ref="auditCreationAdvice" />
        <property name="pattern" value=".*update.*" />
    </bean>
	
	<bean id="auditUpdateAdvice"
        class="net.bioclipse.structuredb.internalbusiness.AuditCreationAdvice">
        <property name="loggedInUserKeeper">
            <ref local="loggedInUserKeeper"/>
        </property>
    </bean>
    
    <bean id="loggedInUserKeeper"
          class="net.bioclipse.structuredb.internalbusiness.LoggedInUserKeeper">
    </bean>      
</beans>